*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#111,#5b0060);
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

.container{
    width:400px;
    background:rgba(255,255,255,0.1);
    padding:25px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 0 20px #000;
}

h1{
    margin-bottom:20px;
}

.search-box{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:12px;
    border-radius:10px;
    border:none;
}

button{
    padding:12px;
    background:#ff0055;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

button:hover{
    background:#ff3377;
}

#result{
    margin-top:20px;
}

img{
    width:200px;
    border-radius:15px;
}

.movie-card h2{
    margin:10px;
}

p{
    margin:8px;
}
